[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "PYTHONIOENCODING=utf-8 LC_ALL=C.UTF-8 LANG=C.UTF-8 python init_db.py && uvicorn app.main:app --host 0.0.0.0 --port $PORT"
